// -------------------------------------
//   Base
// -------------------------------------
// ----- Global defaults for Base-level tags (body, p, etc.)
// -------------------------------------

$white = #FFF
$black = #000
$grey = #9e9e9e
$siteRed = #FF0050

body, html
    width 100%
    height 100%
    font-family sans-serif
    
// body
//     position relative
    
#logo
    position fixed
    left 200px
    top 20px
    width 100%
    max-width 50px
    z-index 9999 
    
ul
    font-weight 100 
    strong
        color #FF0050
    
.box
    position absolute
    top 0
    left 0
    width 200px
    height 200px
    background url('http://placekitten.com/g/200/250')
    background url("../images/candh.jpg")
    hide-me()
    bg-cover()
    
dl
    dt
        color #FF0050
        text-decoration underline
        letter-spacing 2px
        
#overlay
    coverer()
    background #fff 
    z-index 9000
    
h1
    color $siteRed
    line-height 92px !important
    
p
    text-align left
    line-height 32px !important 